a {
  text-decoration: underline;
  color: #7d3aec;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 15px;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 15px;
}
